<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.user.mapper.UserMapper">

    <select id="getAllProducts" resultType="productResponse">
        select product_id as productId, product_name as productName, price, image
        from product
    </select>

    <select id="getProductDetail" parameterType="Long" resultType="productResponse">
        select product_id as productId, product_name as productName, price, description, image
        from product
        where product_id = #{productId}
    </select>

    <select id="getProductByNameOrPrice" parameterType="map" resultType="productResponse">
        select product_id as productId, product_name as productName, price, image
        from product
        <where>
            <if test="productName != null and productName != ''">
                product_name like CONCAT('%', #{productName}, '%')
            </if>
            <if test="price != null">
                <if test="productName != null and productName != ''">
                    and
                </if>
                price &lt;= #{price}
            </if>
        </where>
    </select>

</mapper>